.parent {
  margin-top: 40px;
}

.child {
  padding: 50px;
  width: 60%;
  margin: auto;
  background-color: white;
  box-shadow: 1px 1px 15px 7px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.child nz-form-control {
  min-width: 280px;
}

/* No need to target button inside .login-form-button anymore */
.login-form-button {
  width: 30%;
  float: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-form-button {
  background-color: #001529;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 0;
  border-radius: 4px;
}

nz-divider {
  padding-bottom: 10px;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview img {
  max-width: 100%;
  max-height: 400px;
}
.form-help-text {
  color: #6b7280;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}